<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/nav.css" />
    <link rel="stylesheet" href="/main.css" />
    <link rel="stylesheet" href="/form.css" />
  </head>
  <body>
    <header><%- include('includes/nav')%></header>
    <section><%- include("includes/errors.ejs") %></section>
    <form method="POST" action="/add-message" class="form-container">
      <div class="form-control">
        <label for="message">Message</label>
        <input type="message" name="message" id="message" />
      </div>
      <div class="form-control">
        <label for="username">User</label>
        <input type="username" name="username" id="username" />
      </div>
      <button type="submit" class="btn">Add Message</button>
    </form>
  </body>
</html>
