<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/nav.css" />
    <link rel="stylesheet" href="/message.css" />
    <link rel="stylesheet" href="/main.css" />
  </head>
  <body>
    <header><%- include('includes/nav')%></header>
    <section class="messages">
      <article>
        <h3><%= message.username %></h3>
        <p><%= message.message %></p>
        <span><%= message.added %></span>
        <a href="/" class="btn">Go Back</a>
      </article>
    </section>
  </body>
</html>
